<form id="addReview">
    <input type="text" name="title" id="title" placeholder="title">
    <textarea name="review" id="review" cols="30" rows="10" id = "review"></textarea>
    <input type="text" name="score" id="score" placeholder="score">
    <input type="submit" value="save review!">
</form>